[mysqld]
# 文字コード
character-set-server = utf8mb4
collation-server = utf8mb4_0900_ai_ci

# タイムゾーン
default_time_zone = "+09:00"

# General Query Log（qube のワークロード入力に使う）
general_log = OFF
general_log_file = /var/lib/mysql/general.log
log_output = FILE

# 推奨（本番での調整はご要望に応じて）
#sql_mode = STRICT_TRANS_TABLES,NO_ENGINE_SUBSTITUTION
max_connections = 512